.cta:hover {
    background-color: var(--ap-primary);
}

.nav-submenu ul li:hover {
    background-color: var(--ap-primary);
    color: white;
}

div.modal-box-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

div.modal-content-holder {
    border-radius: 20px;
}

div.modal-box-footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

div.modal-box-body {
    border-radius: 20px;
}

div.custom-modal div.modal-image-holder  {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

div.account-footer-wrapper {
    margin-top: 20px !important;
}

div.review-systems {
    text-align: left;
}

img.review-image {
    border-radius: 0.5rem;
}

@media (max-width: 1023px) {
    div.review-systems {
        text-align: center !important;
        bottom:  5rem;
    }
}

.circle-button, .social-icon-container {
    transition: all .3s ease;
}

.circle-button {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border-color: var(--ap-primary);
}

.circle-button:hover {
    background-color: var(--ap-primary);
}

.social-icon-container:hover {
    background-color: var(--ap-cta-bg);
}

.popular-search-location:hover .popular-search-location-item {
    height: 100% !important;
}

.popular-search-location:hover .view-more-button {
    visibility: visible;
    display: block;
    opacity: 1;
}

.view-more-button:hover {
    background-color: #fff;
    color: #000;
}

.home-index .nav-text {
    color: #fff;
}

.capitalize-first-letter {
    text-transform: lowercase;
}

.capitalize-first-letter::first-letter {
    text-transform: capitalize;
}

.navigation-bg-important {
    background-color: var(--ap-nav-bg) !important;
    /* position: static !important; */
}

#contact-details p {
    padding: 0rem !important;
}

.property-index .swiper-button-prevBtn svg, .property-index .swiper-button-nextBtn svg {
    filter: drop-shadow( 3px 3px 5px rgba(0, 0, 0, .3));
}

.property-index #property-detail #bed-bath-info {
    justify-content: flex-start !important;
    margin-top: 0.75rem;
}

@media (min-width: 640px) {
    .home-index .hero-wrapper .valuation-button, .home-index .hero-wrapper .find-a-property-button {
        width: unset;
    }
}

.text-cta {
    color: var(--ap-cta-bg);
}

@media (min-width: 1024px) and (max-width: 1279px) {
    body.listings-index datalist { width: 24rem !important; }
}

@media (min-width: 1280px) {
    body.listings-index datalist { width: 24.5rem !important; }
}

@media (min-width: 375px) and (max-width: 639px) {
    .property-listing > div:nth-of-type(2) > div.grid:first-of-type {
        grid-template-columns: repeat(5,minmax(0,1fr));
    }

    .property-listing > div:nth-of-type(2) > div.grid:first-of-type > div:first-of-type {
        grid-column: span 3/span 3;
    }
}

.find-a-property-button:hover {
    background-color: var(--ap-cta-bg) !important;
}

#fixed-social-tab > div > div:hover {
    background-color: var(--ap-primary) !important;
}

#home-search-container button[type=submit][value=sale] {
    border: 1px solid var(--ap-primary);
}

#home-search-container button[type=submit][value=rental] {
    border: 1px solid var(--ap-cta-bg);
}

#home-search-container button[type=submit][value=rental]:hover, #home-search-container button[type=submit][value=sale]:hover {
    background-color: transparent !important;
}

#home-search-container button[type=submit] {
    transition: all .3s ease;
}

.find-a-property-button:hover, .home-index .valuation-button:hover, .hover-cta-bg:hover {
    background-color: var(--ap-cta-bg) !important;
}

#home-search-container button[type=submit], .hover-cta-bg {
    transition: all .3s ease;
}

#preauth-form #preauth-email {
    padding-left: 1rem;
    padding-right: 1rem;
}

#preauth-form #preauth-email, #preauth-form button[type=submit] {
    border-radius: 9999px;
}

@media (max-width: 767px) {
    #slide-secondary-title {
        line-height: 1 !important;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1440px;
    }
}

#back-to-listings-button {
    border-radius: 9999px;
}

/*
-------------------------------------------------------
-------------     Multi Select System     -------------
-------------------------------------------------------
*/

div.multi-property-type-options-list {
    max-height: 6rem;
    overflow-y: auto;
}

body.listings-index div.multi-property-type-options-list span.rounded-sm {
    border: 1px solid var(--ap-primary);
}

/* small */
@media (min-width: 0px) and (max-width: 639px) {

    body.listings-index div.multi-property-type-options-list {
    }

    body.listings-index div.multi-property-type-options-list div {
    }

}

/* medium */
@media (min-width: 640px) and (max-width: 767px) {

}

/* large */
@media (min-width: 768px) and (max-width: 1023px) {

    body.listings-index div.multi-property-type-options-list {
        top: 1.5rem;
        max-height: 12rem;
    }

}

/* XL */
@media (min-width: 1024px) and (max-width: 1535px) {

    body.listings-index div.multi-property-type-options-list {
        position: absolute;
        top: 2.5rem;
        max-height: 12rem;
        width: 24.5rem !important;
    }

}

/* 2XL */
@media (min-width: 1536px) {

    body.listings-index div.multi-property-type-options-list {
        top: 2.5rem;
        max-height: 12rem;
        width: 34.5rem !important;
        border-radius: 1rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

}

#book-viewing-modal form button[type=submit] {
    border-radius: 9999px;
    text-transform: capitalize;
}

#book-viewing-modal .modal-close {
    padding-top: 0;
    top: 1rem;
}
